.book {
  width: 220px;
  height: 380px;
  margin: auto;
  box-shadow: 1px 1px 6px 1px gray;
  border-radius: 2px;
}
.image {
  width: 100%;
  height: 75%;
  border-radius: 2px;
  cursor: pointer;
}
.details {
  font-family: cursive;
  padding: 10px;
  font-size: 14px;
}
